[submodule "submodules/pagerank_rs"]
	path = submodules/pagerank_rs
	url = https://github.com/meta-introspector/pagerank_rs
[submodule "submodules/reson"]
	path = submodules/reson
	url = https://github.com/meta-introspector/reson
[submodule "output2"]
	url = https://github.com/meta-introspector/split-decls-rs
	path = output2
[submodule "output3"]
	url = https://github.com/meta-introspector/split-decls-rs
	path = output3
